/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family: 'Tinos', serif;
		font-size: 13px;
		line-height: 18px;
		color: #333;
	}

	a {
		text-decoration:none;
		color: #000;
	}
	
	p {
		margin: 0 0 0 0;
		padding: 0 0 0 10px;
	}

	h1 {
		font-weight: 700;
		font-size: 30px;
		line-height: 34px;
		margin: 0 0 0 0;
		padding: 0 0 0 10px;
	}

	h2 {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		margin: 0 0 0 0;
		padding: 0 0 0 10px;
	}

	h3 {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		margin: 0 0 0 0;
		padding: 0 0 0 10px;
	}

	header h1 {
		font-size: 20px;
		margin: -2px 20px 2px 0;
	}

	nav {
		margin: 0 20px 0 0;
	}

	header h1, nav {
		float:left;
	}

	header li {
		padding: 9px 10px 4px 10px;
		margin: 0 1px 0 0;
		display: block;
		float:left;
	}

	header li:hover {
		cursor:pointer;
		border-bottom: 3px solid #ddd;
	}

	header li.current-section {
		color: #000;
		cursor:pointer;
		border-bottom: 3px solid #ddd;
	}

	header a li{
		color: #333;
	}

	header a:hover li{
		color: #000;
	}

	header .row {
		margin: 0px auto;
		padding: 5px 0 0 0;
	}

	header .row, header .twelvecol, footer .row, footer .twelvecol {
		background: none;
	}

	.landing-header p {
		font-size: 30px;
		line-height: 34px;
		margin-top: 20px;
		color:#999;
	}

	.landing-credit p {
		color:#888;
	}

	.hero-unit {
		height: 200px;
		padding: 15px 0 20px 0;
		color: #fff;
		text-shadow: 0 1px 0 #000;
		background-position: center;
		background-repeat: repeat;
		overflow:hidden;
	}

	.hero-unit p{
		background: none;
		font-size: 20px;
		line-height: 23px;
		margin-left: 3px;
	}

	.hero-unit h1{
		background: none;
		font-size: 60px;
		line-height: 65px;
	}

	.work-detail {
		height: auto;
		padding: 15px 0 0px 0;
		color: #333;
		background-color: #fff;
	}

	.work-detail p{
		background: none;
		font-size: 20px;
		line-height: 23px;
		margin-left: 3px;
	}

	.work-detail h1{
		background: none;
		font-size: 60px;
		line-height: 65px;
	}
	
	.information-bar {
		background-color: #eee;
		margin:10px 0 10px 0;
	}

	.information-bar a{
		color:#555;
		font-weight: bold;
	}

	.information-bar a:hover{
		color:#000;
	}
	
	.information-bar li {
		border-right: 4px solid #ddd; 
		list-style-type:none;
		float:left;
		padding: 4px 10px 4px 10px;
	}

	.information-bar li:last-child {
		border: 0px solid #ddd; 
	}

	.divider-line {
		margin-bottom: 5px;
		border-top: 1px solid #ddd;
	}

	.bodycopy p{
		font-size: 18px;
		line-height: 21px;
		max-width:540px;
	}

	.bodycopy a{
		font-weight: bold;
		color:#555;
	}

	.bodycopy a:hover{
		color:#000;
	}

	.bodycopy h2{
		margin-bottom: 5px;
		max-width:540px;
	}

	footer .row {
		font-size: 12px;
		margin: 5px auto;
		padding: 5px 0 7px 0;
	}
/*///////////////////////////////////////////////////////////|
/////////////////////////////////////////////////////////////|*/

	.fixed {
		top: 0;
		padding: 0;
		width: 100%;
		margin: 0px auto;
		overflow: hidden;
        position:fixed;
	}

	.firstup {
		margin-top: 100px;
	}

/*///////////////////////////////////////////////////////////|
/////////////////////////////////////////////////////////////|*/

	.link-to-microsite {
		width:100%;
		background-color: #eee;
		margin: 0 0 20px 0;
		padding:12px;
	}

	.link-to-microsite h3 {
		padding:0;
	}

	.link-to-microsite:hover {
		cursor:pointer;
		background-color: #ddd;
	}

	.link-to-microsite h3 {
		color:#333;
	}

	.link-to-microsite:hover h3 {
		padding-left: 3px;
		color:#000;
	}

	.link-a {
		display: none;
	}

	.link-b {
		display:block;
	}

/*///////////////////////////////////////////////////////////|
/////////////////////////////////////////////////////////////|*/

	.share-me {
		background-color: #FFF;
		float:right;
		width:93px;
		height:26px;
	}

	.share-me img {
		margin-left: 4px;
		margin-top: 0;
	}

	.share-me img:hover {
		-moz-opacity:.80;
		filter:alpha(opacity=80);
		opacity:.80;
	}

/*///////////////////////////////////////////////////////////|
/////////////////////////////////////////////////////////////|*/

	.tab_images {
		margin-top: 60px;
		margin-bottom: 0px;
	}

	.tab_images .threecol {
		min-height: 210px;
	}

	.tab_images .threecol h3 {
		margin: 2px 0 0 0;
		padding: 0 10px 0 10px;
		color:#333;
	}

	.tab_images .threecol p {
		margin: 0 0 0 0;
		padding: 0 10px 20px 10px;
		color:#333;
	}

	.tab_images .threecol:hover {
		background-color: #eee;
	}

	.tab_images .current_tab,
	.tab_images .current_tab:hover {
		background-color: #eee;
	}

	.tab_images .threecol:hover h3, 
	.tab_images .threecol:hover p, 
	.tab_images .current_tab h3, 
	.tab_images .current_tab p {
		color:#000;
	}

	.tab_images .threecol:hover,
	.tab_images .current_tab {
		border-bottom: 3px solid #ddd;
	}

	.tab_images .threecol:hover p,
	.tab_images .current_tab p {
		padding: 0 10px 17px 10px;
	}

	.tab_images .current_tab:hover {
		cursor:default;
	}

	.tab-divider-line {
	 	margin-top: 0px;
	 }

/*///////////////////////////////////////////////////////////|
/////////////////////////////////////////////////////////////|*/

	.thumbnails .fourcol h3 {
		margin: 4px 0 0 0;
		color:#333;
	}

	.thumbnails .fourcol p {
		margin: 0 0 0 0;
		padding: 0 5px 8px 10px;
		color:#333;
	}

	.thumbnails .fourcol:hover {
		cursor:pointer;
		background-color: #eee;
	}

	.thumbnails .fourcol:hover h3,
	.thumbnails .fourcol:hover p {
		color:#000;
	}

	.thumbnails .fourcol:hover p {
		border-bottom: 4px solid #ddd;
		padding: 0 5px 4px 10px;
	}

	.thumbnails .fourcol img {
		width:100%;

/*		-moz-opacity:.85;
		filter:alpha(opacity=85);
		opacity:.85;*/
	}

	.thumbnails .fourcol:hover img {

/*		-moz-opacity:1.0;
		filter:alpha(opacity=100);
		opacity:1.0;*/
	}

/*///////////////////////////////////////////////////////////|
/////////////////////////////////////////////////////////////|*/

	#galleria { 
		z-index: 0;
		width:100%; 
		height:600px; 
		background:#000; 
	}

/*///////////////////////////////////////////////////////////|
/////////////////////////////////////////////////////////////|*/

	#mapcontainer { 
		background-color: #000;
		position: relative;
	    width: 100%;
		height: 300px;
	}   

	#mapplet {   
	    width: 100%;
		height: 300px;  
		margin:0px; 
		z-index: 0;
	}

	#mapplet:hover h3, #mapplet:hover p {   
		cursor:default;
	}  

	#mapplet h3 {
		width:240px;
		background-color: #FFF;
		margin:7px 0 0 0;
	}  

	#mapplet p {   
		width:240px;
		padding-bottom: 5px;
		background-color: #FFF;
	}

	#mapplet p,
	#mapplet a {
		font-size: 12px;
		line-height: 15px;
	}

	#mapplet a {   
		color: #444;
	}

	#mapplet a:hover {   
		color: #000;
	}

	#mapplet p, 
	#mapplet h3,
	#mapplet a {   
		font-family: 'Tinos', serif;
	}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 780px) {

	body {
		
	}

	.link-a {
		display:block;
	}

	.link-b {
		display:none;
	}

	.share-me {
		display:none;
	}

	.tab_images .threecol p {
		display:none;
	}

	#galleria { 
		height:350px; 
	}

	.link-to-microsite h3 {
		color:#333;
	}

	.information-bar li {
		background-color: #eee;
		border-right: 0px solid #ddd;
		border-bottom: 1px solid #ddd;
		width:96%;
		padding: 4px 10px 4px 10px;
	}

	.row .landing-header p {
		font-size: 20px;
		line-height: 24px;
		padding-right: 10px;
	}

	.row .work-detail h1,
	.row .bodycopy h2,
	.row .work-detail p,
	.row .bodycopy p {
		padding-right: 10px;
	}

	.row .work-detail p,
	.row .bodycopy p {
		color:#888;
	}

	.row .work-detail h1,
	.row .bodycopy h2 {
		color:#666;
	}
	
	.row .work-detail h1 {
		font-size: 40px;
		line-height: 45px;
	}

	.tab_images .threecol {
		width: 22.05%;
		margin-right: 3.90%;

		min-height: 100px;
		float: left;
	}

	.tab_images .last {
		margin-right: 0;
		float: right;
	} 

	.thumbnails .fourcol {
		width: 30.75%;
		margin-right: 3.8%;
		float: left;
	} 

	.thumbnails .fourcol h3,
	.tab_images .threecol h3 {
		margin:0 0 0 0;
		padding:0 5px 8px 5px;
		font-size: 13px;
		line-height: 16px;
	}

	.tab_images .threecol:hover,
	.tab_images .current_tab {
		border-bottom: 3px solid #ddd;
	}

	.thumbnails .fourcol p {
		display: none;
	}

	.thumbnails .last {
		margin-right: 0;
		float: right;
	} 

}

/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}