/*//////////////////////////////////////////////////////////////////////////////////*/
/* HTML5 tags */
	* { 
		margin: 0; 
		padding: 0; 
		outline: 0; 
	}

	header, section, footer, aside, nav, article, figure {
		display: block;
	}

	@font-face { 
		font-family: ApexBold; 
		src: url('../fonts/ApexNewBold.otf') format("opentype"); 
	}
	
	@font-face { 
		font-family: ApexMedium; 
		src: url('../fonts/ApexNewMedium.otf') format("opentype"); 
	}
	
	@font-face { 
		font-family: ApexBook; 
		src: url('../fonts/ApexNewBook.otf') format("opentype");
	}

	body { 
	
	}

	::selection { 
		background-color: rgba(122, 192, 0, 0.2); 
	}

	::-moz-selection { 
		background-color: rgba(122, 192, 0, 0.2); 
		border: 10px solid red; 
	}
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

	h1 { 
		/*font-family: Georgia, Courier; firefox 3.6*/
		font-family: ApexBold;
		font-size: 30px; 
		color: #000000;
	}
	
	h2 { 
		/*font-family: Georgia, Courier; firefox 3.6*/
		font-family: ApexMedium;
		font-size: 20px; 
		color: #000000;
	}
	
	h3 { 	
		/*font-family: Georgia, Courier; firefox 3.6*/
		font-family: ApexBook;
		font-size: 14px; 
		color: #000000;
	}
	
	p { 
		font-family: ApexBook; 
		line-height: 20px;
		font-size: 16px;
		color: #000000;
	}

	strong { 
	
	}
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

	header { 
		width: 100%;
		height: 115px;
		background-color: #FFF; 
		border-bottom: 1px solid #b2b1b2;
		position: fixed; 
		z-index: 10;
	}

	header .container{ 
		width: 900px;
		margin: 0 auto;
		z-index: 11;
	}
	
	header h1 { 
		position: fixed;
		padding-top: 32px;
		padding-bottom: 0px; 
		padding-left: 4px;
	}
	
	header h3 { 
		width: 450px;
		position: fixed;
		padding-top: 68px;
		padding-bottom: 0px; 
		padding-left: 5px;
	}
	
	header nav { 	
		width: 900px;
		background-color: #fff; 
		padding-left: 5px;
		margin-top: 74px;
		position: absolute; 
	}
	
	header nav a { 
		text-decoration:none;
			
		float:right;
		margin-right: 10px;
	}
	
	header nav a.active { 
	
	}
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/
	#bg{ 
		width: 100%; 
		height: 100%;
		position: fixed;
		background-image:url('../images/backing.jpg');
		background-color: #FFFFFF;
		background-repeat:repeat-x;
	}

	#archive { 
		width: 900px;
		background-color: #fff000;
		padding-top:150px;
		margin: 0 auto;
	}
	
	#archive div.footer { 
		display: block;
		position: relative;
		width: 899px; 
		height: 20px;
		background-color: #fff;
		clear:right;
	}
	
	#archive div.book { 
		display: block;
		position: relative;
		width: 899px; 
		height: 281px;
		margin-left: 1px;
		margin-right: 15px;
		margin-bottom: 35px;
		background-color: #fff;
		clear:right;
	}
	
	#archive div.book h2 {
		color:#FFFFFF;
	}
	
	#archive div.book h3 {
		margin-top: 5px;
		color:#FFFFFF;
	}
	
	#archive div.book h3.booknumber {
		position: absolute;
		bottom: 18px;
	}
	
	#archive div.book p {
		color:#FFFFFF;
	}
	
	#archive div.book #bottom { 
		/*Black Rectangle Background*/
		position: absolute;
		width: 899px; 
		height: 281px;
		margin-top: 3px;
		z-index: 1;
	}
	
	#archive div.book #bottom div.legibility { 
		display: none;
		position: absolute;
		width: 899px; 
		height: 281px;
		margin: 0px;
	}
	
	#archive div.book:hover #bottom.important_information div.legibility { 
		display: block;
		background-color:#d11b78;
	}
	
	#archive div.book:hover #bottom.preceding_works div.legibility { 
		display: block;
		background-color:#4b9400;
	}
	
	#archive div.book:hover #bottom.examinations_reflections div.legibility { 
		display: block;
		background-color:#0060bd;
	}
	
	#archive div.book #bottom.important_information { 
		background-color: #ff0082;
	}
	
	#archive div.book #bottom.preceding_works { 
		background-color: #82ff00;
	}
	
	#archive div.book #bottom.examinations_reflections { 
		background-color: #0082ff;
	}

	#archive div.book img {
		position: absolute;
		margin-top: 0px;
		margin-left: 3px;
		z-index: 2;
	}

	#archive div.book:hover img {
		width: 899px; 
		height: 281px;
		margin-top: 3px;
		margin-left: 0px;
		filter:alpha(opacity=20);
		opacity:0.2;
	}

	#archive div.book div.content {
		width: 899px; 
		height: 281px;
		margin-top: 0px;
		margin-left: 3px;
		position: absolute;
		z-index: 3;
	}
	
	#archive div.book:hover div.content {
		margin-top: 3px;
		margin-left: 0px;
	}
	

	#archive div.book div.content div.left {
		width: 200px;
		height: 261px;
		padding-top: 20px;
		padding-left: 20px;
		float: left;
	}

	#archive div.book div.content div.right {
		display: none;
		width: 630px; 
		height: 261px;
		padding-top: 22px;
		padding-left: 20px;
		float:left;
	}
	
	#archive div.book:hover div.content div.right {
		display: block;
	}
	
/*//////////////////////////////////////////////////////////////////////////////////*/

	footer {
		position: relative;
		width: 900px;
		height: 20px
		background-color: #fff000;
	}
/*//////////////////////////////////////////////////////////////////////////////////*/