/************************************************************

	A PROTOTYPE
	PROJECT: YELLOW SKYSCRAPER

*************************************************************/

	body{
		background-image: url(../pattern/pat.jpg);
		background-color:#FFFFFF;
		font-size:12;
		color:333333;
		margin:0px;
	}
	
	a{
		text-decoration:none;
		color:333333;
	}
	a:hover{
		color:999999;
	}
	a:visited{
		color:333333;
	}
	
	img{
		border-bottom: thin solid #000000;
	}
/************************************************************

	MAIN CONTAINER
*************************************************************/
	.img_container{
		background-color:#FFFFFF;
		border-right: thin solid #000000;

		position:absolute;
		top:0px;
		left:0px;
	
		margin:0px;
		padding:0px;
	}
	
/*/////////////////////////////////////////////////////|
/////////////////////////////////////////////////////*/

	.item_container{
		width:802;
		position:absolute;
		top:0px;
		left:0px;
	}
	
	.item{
		width:800;
		height:251;
		margin:0px;
		top:0px;
		left:0px;
	}
	
	.lable{
		width:600;
		height:203;
		padding-top:108px;
	}
	
	.number{
		font-family:"Helvitica", "Arial", sans;
		font-weight:bold;
		font-size:11;
		color:000000;
		
		background-color:#FFFFFF;
		border: thin solid #000000;
		float:left;
		
		width:71px;
		height:19px;
		
		padding-top:11px;
		padding-left:9px;
		
		margin-top:10px;
		margin-left:11px;
		z-index:10;
	}
	
	.title{
		font-family:"Helvitica", "Arial", sans;
		font-weight:bold;
		font-size:15;
		color:000000;
		
		background-color:#FFFFFF;
		border-top: thin solid #000000;
		border-right: thin solid #000000;
		border-bottom: thin solid #000000;
		float:left;
		
		width:460px;
		height:22px;
		
		padding-top:8px;
		padding-left:10px;
		
		margin-top:10px;
		z-index:10;
	}
	
	.fiducial{
		background-color:#FFFFFF;
		border: thin solid #000000;
		float:left;
		width:80px;
		height:80px;
		margin-top:10px;
		margin-left:11px;
		z-index:10;
	}
	
	.body{
		font-family:"Verdana", "Arial", sans;
		font-size:11;
		color:000000;
		
		background-color:#FFFFFF;
		border-top: thin solid #000000;
		border-right: thin solid #000000;
		border-bottom: thin solid #000000;
		float:left;
		
		width:450px;
		height:71px;
		
		padding-top:9px;
		padding-left:10px;
		padding-right:10px;
		
		margin-top:10px;
		z-index:10;
	}
	
/*/////////////////////////////////////////////////////|
/////////////////////////////////////////////////////*/	
	.item_intro{
		width:800;
		height:580;
		margin:0px;
		top:0px;
		left:0px;
	}
	
	.lable_intro{
		width:600;
		height:466;
		padding-top:107px;
	}
	
	.intro{
		width:551;
		height:319;
		
		border-top: thin solid #000000;
		border-right: thin solid #000000;
		border-left: thin solid #000000;
		float:left;
		
		margin-top:10px;
		margin-left:11px;
	}
/************************************************************


*************************************************************/