/************************************************************

	JAVA MENU PROTOTYPE
	PROJECT: YELLOW SKYSCRAPER

*************************************************************/

	body{
		background-color:#FFFFFF;
		font-family:"Verdana", "Arial", sans;
		font-size:11;
		color:#555555;
		margin:5px;
		padding:0px 0px 25px 0px;
	}
	
	a:link{
		text-decoration:none;
		color:#00FFFF;
	}
	a:visited{
		text-decoration:none;
		color:#00AAAA;
	}
	a:hover{
		text-decoration:none;
		color:#00AAAA;
	}
	
	img{
		border:none;
	}
	
	input{
		border:none;
		color:#FFFFFF;
		background-color:#666666;
		margin:1px 0px 5px 0px;
	}
	
	textarea{
		border:none;
		color:#FFFFFF;
		background-color:#666666;
		margin:2px 0px 5px 0px;
	}
/************************************************************


*************************************************************/
	.spanHead{
		font-family:"Arial","Verdana", sans;
		font-size:13;
		font-weight: bold;
	}
	
	.links1{		
		font-family:"Arial","Verdana", sans;
		font-size:13;
	}


/************************************************************


*************************************************************/	
	.header{
		/*background-color:#F9E7AC;*/
		width:600;
		height:auto;
		
		font-family: "Arial","Verdana", sans;
		font-size:25;
		
		margin:25px 0px 10px 25px;
	}
	
	.body{
		/*background-color:#F9E7AC;*/
		width:420;
		height:auto;
		
		margin:10px 0px 0px 25px;
	}
	
	.image{
		/*background-color:#F9E7AC;*/
		width:625;
		height:auto;
		
		margin:0px 0px 0px 5px;
	}
	
	.image_container{
		/*background-color:#404A4A;*/
		width:625;
		height:450;
		
		margin:0px 0px 0px 5px;
	}
	
	#image_gallery{
		/*background-color:#404A4A;*/
		width:625;
		height:579;
		
		margin:0px 0px 0px 5px;
	}
/************************************************************


*************************************************************/
	.thumb_container{
		background-color:#404A4A;
		width:615;
		height:auto;
		
		padding:5;
		
		margin:5px 0px 0px 5px;
	}

	.thumb{
		background-color:#444444;
		width:30;
		height:100;
		float:left;
		margin:0px 5px 0px 0px;
	}

/************************************************************


*************************************************************/