/*//////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////

	YELLOW SKYSCRAPER
	PROJECT: CONSTRUCTION

///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
	
	Color 
	two yellows(FFF6B7 E8D69B)
	yellow(FFFFBB)
	self grafuc(99AAAA CCCCAA)
	gen2(8A9997 404A4A)
	pale green(CCEEDD)

//////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////*/

	body{
		background: url(../img/patterns/10.jpg);/**/
		background-color:#FFFFFF;
		font-family:"Verdana", "Arial", sans;
		font-size:10;
		margin:0px;
	}
	
	a{
		text-decoration:none;
		color:#FFFFFF;
	}
	a:visited{
		color:#FFFFFF;
	}
	a:hover{
		color:#999999;
	}
	
/*//////////////////////////////////////////////////////////////

	CONTAINER
	
//////////////////////////////////////////////////////////////*/

	.container{
		/*background-color:#AAAAAA;*/
		width:855px;
		height:auto;

		position:absolute;
		top:0;
		left:5%;
	
		margin:0px;
		padding:0px;
	}
	
/*//////////////////////////////////////////////////////////////

	TITLE
	
//////////////////////////////////////////////////////////////*/

	#titlebar{
		background-color:#FFFFFF;
		width:100px;
		voice-family: "\"}\""; 
		voice-family:inherit;
		width:100px;
		
		height:400px;
		
		float:left;
	
		margin:0px 0px 0px 3px;
		padding:0px;
	}
	html>body .titlebar {
	  width:100px;
	}

/*//////////////////////////////////////////////////////////////

	NAVIGATION
	
//////////////////////////////////////////////////////////////*/

	#nav_container{
		/*background-color:#FFFFFF;*/
		width:200;
		height:400;
		float:left;
		
		margin:0px 0px 0px 3px;
		padding:0px;
	}
	
/*//////////////////////////////////////////////////////////////

	BODY
	
//////////////////////////////////////////////////////////////*/

	.body_container{
		width:645px;
		height:auto;
		float:left;
	
		margin:0px 0px 0px 3px;
		padding:0px;
	}
	
	.footer{
		background-color:#FFFFFF;
		width:645px;
		height:20;
		
		margin:3px 0px 0px 0px;
		padding:0px;
	}

/*//////////////////////////////////////////////////////////////

	END
	
//////////////////////////////////////////////////////////////*/