/*//////////////////////////////////////////////////////////////////////////////////*/
/* HTML5 tags */


section {                  
	padding-left:21px;  
} 

#contentcontainer { 
	width: 966px;
}

#portfolio{                   
	padding-left:22px;          
}
/*//////////////////////////////////////////////////////////////////////////////////*/