/*//////////////////////////////////////////////////////////////////////////////////*/
/* HTML5 tags */
	* { 
		margin: 0; 
		padding: 0; 
		outline: 0; 
	}
    
	header, section, footer, aside, nav, article, figure {
		display: block;
	}   

	@font-face { 
		font-family: Georgia; 
		src: url(../fonts/Georgia.ttf) format("opentype");
	}

	@font-face { 
		font-family: GeorgiaItalic; 
		src: url(../fonts/Georgia-Italic.ttf) format("opentype");
	}     

	@font-face { 
		font-family: GeorgiaBold; 
		src: url(../fonts/Georgia-Bold.ttf) format("opentype"); 
	}
	
	@font-face { 
		font-family: GeorgiaBoldItalic; 
		src: url(../fonts/Georgia-Bold-Italic.ttf) format("opentype"); 
	}      

	body { 
		/*background: url(../data/images/pattern.gif);*/ 
	}

	::selection { 
		background-color: rgba(122, 192, 0, 0.2); 
	}

	::-moz-selection { 
		background-color: rgba(122, 192, 0, 0.2); 
		border: 10px solid red; 
	}
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

	h1 { 
		/*font-family: Georgia, Courier; firefox 3.6*/
		font-family: GeorgiaBoldItalic;
		font-size: 30px; 
		color: #000000;
	}
	
	h2 { 
		/*font-family: Georgia, Courier; firefox 3.6*/
		font-family: GeorgiaBold;    
		font-size: 20px;
		color: #000000;
	}
	
	h3 { 	
		/*font-family: Georgia, Courier; firefox 3.6*/
		font-family: GeorgiaBold;
		font-size: 14px; 
		color: #000000;
	} 

	h4 { 	
		/*font-family: Georgia, Courier; firefox 3.6*/
		font-family: GeorgiaItalic;
		font-size: 18px; 
		color: #000000;
	} 
	
	p { 
		font-family: Georgia; 
		font-size: 14px;
		color: #4b4b4b;
	}

	strong { 
		font-family: GeorgiaItalic;
	}  	
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

	header { 
		width: 937px;
		height: 95px;
		background-color: #FFF; 
		margin: 0 auto;
		position: relative; 
		z-index: 10;
	}                                                                                
   
	#headercontainer { 
		width: 930px;
		margin: 0 auto; 
		position: fixed;
		border-bottom: 2px solid #000000;
		left: 50%; 
		margin: 0px 0px 0px -462px;
	}
	
	#headercontainer div.topbar { 
		width: 929px; 
		height: 15px;
		background-color: #000;
		margin: 0 auto;
	}	
	
	#headercontainer h1 { 
		padding-bottom: 0px; 
		position: fixed;
		padding-left: 3px;
		padding-top: 39px;   
		margin-left: 7px;
	}
	
	#headercontainer p { 
		width: 450px;
		padding-bottom: 0px; 
		position: fixed;
		padding-left: 5px;
		padding-top: 143px;
	}
	
	#headercontainer nav { 
		width: 925px;
		background-color: #fff; 
		padding-left: 5px;
		margin-top: 58px;
		position: absolute; 
	}
	
	#headercontainer nav a { 
		text-decoration:none;
		font-family: Georgia;
		font-size: 10px; 
		color: #000000;
			
		float:right;
		margin-right: 20px;
	}
	
	#headercontainer nav a.active { 
		font-family: GeorgiaBold;
		height:20px;
		font-size: 10px;
		border-bottom: 2px solid #000000;
	}              
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

	section {                   
		background-color: #fff;
		padding-bottom: 16px; 
		padding-left:20px;
		float: left;
	}                                                                                 	
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/

	#contentcontainer { 
		width: 965px; 
		margin: 0 auto;
		position: relative; 
		float: none; 
		padding: 0px;
	}     	
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/   

	#maindetail{ 
		margin-top: 110px;  
	}
/*//////////////////////////////////////////////////////////////////////////////////*/  

	#maindetail div.dividerdots{ 
		background-color: #FFF;
		border-top: 1px dotted #000000;
		width: 929px; 
		height: 1px;
		margin-top: 17px;
		margin-left: 1px;
		z-index: 3;
	}
     
	#maindetail .large_copy { 
		background-color: #FFF;     
		width: 880px;  
		margin-left: 1px;  
		padding: 10px;     
		margin-top:0px;
		margin-bottom:30px;
	}    
    
	#maindetail .large_copy h1 { 
		font-family: GeorgiaBold; 
		font-size: 18px;  
		margin-top:30px;
		color: #000000;  
	}

	#maindetail .large_copy h2 { 
		font-family: Georgia; 
		font-size: 15px; 
		color: #7e7e7e;
		margin-top:40px;
	}  
    
	#maindetail .large_copy p { 
		font-family: Georgia; 
		font-size: 25px;     
		line-height: 33px; 
		color: #7e7e7e;
	}
	
	#maindetail .large_copy p span.italics{ 
		font-family: GeorgiaItalic; 
	}   
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/   

	#mapcontainer { 
		background-color: #000;
		position: relative;   
		width: 926px;
		height: 400px;       
	}   

	#map { 
		border: 1px solid #000000;           
		width: 926px;
		height: 400px;  
		margin-left: 1px;  
		margin-bottom: 10px; 
		z-index: 0;
	}   

	#map h1{ 
   	font-family: GeorgiaBoldItalic;  
		font-size: 14px;    
		width:auto;     
		height:auto;  
	    margin-left: 2px;
	}  

	#map h2{ 
		font-family: GeorgiaBold;   
		font-size: 10px;  	    
		width:auto;     
		height:auto;   
	    margin-top: 6px;
	    margin-left: 3px; 
	}

	#map p{ 
		font-size: 10px;       
		width:auto;     
		height:auto;  
	    margin-left: 3px;
	}     

	#mapoverlay { 
		background-color: #FFF;  
		position: absolute;   
		opacity:0.0;
		filter:alpha(opacity=0);  
		margin-top: 1px;  
		margin-left: 2px;      
		width: 926px;
		height: 400px;    
		z-index: 1;
	}	    
/*//////////////////////////////////////////////////////////////////////////////////*/   
/*//////////////////////////////////////////////////////////////////////////////////*/  
/*//////////////////////////////////////////////////////////////////////////////////*/
    
	#detail{                     
		margin-top: 98px;  
	}
/*//////////////////////////////////////////////////////////////////////////////////*/
	
	#detail div.titlebar { 
		background-color: #f4f9e8;              
		width: 930px; 
		height: 65px;
		margin-left: 0px;
		padding-top: 60px;
		z-index: 3;
	}  
	
	#detail div.titlebar h2 { 
		width: 925px;
		margin-top: 20px;
		margin-left: 24px;
		color: #4b553a;
	}
	
	#detail div.titlebar p { 
		width: 926px;
		font-size: 10px;
		margin-left: 19px; 
		color: #4b553a;
	}
/*//////////////////////////////////////////////////////////////////////////////////*/

	#detail div.titlebar_photo { 
		background-color: #f1eafc;              
		width: 930px; 
		height: 65px;
		margin-left: 0px;
		padding-top: 60px;
		z-index: 3;
	}  
	
	#detail div.titlebar_photo h2 { 
		width: 925px;
		margin-top: 20px;
		margin-left: 19px;
		color: #6d568c;
	}
	
	#detail div.titlebar_photo p { 
		width: 926px;
		font-size: 10px;
		margin-left: 19px; 
		color: #6d568c;
	}     
/*//////////////////////////////////////////////////////////////////////////////////*/

	#detail div.detailsbar{ 
		width: 930px;
		height: 33px;       
		background-color: #fff;
		border-top: 1px dotted #000000;
		border-bottom: 1px dotted #000000;
		margin-top: 1px;
		margin-left: 0px; 
	}   
	
	#detail div.detailsbar p { 
		width: 780px;         
		font-size: 10px;
		color: #969696;  
		padding-top: 10px;
		padding-left: 24px;  
		float:left; 
	}
	
	#detail div.detailsbar p span.black { 
		font-family: GeorgiaBold;       
		font-size: 12px; 
		margin-left: 2px;
		margin-right: 2px;
		color: #000000;   
	}                          
	
	#detail .social img{ 
        margin-top:6px;     
		border:0px;
	}
/*//////////////////////////////////////////////////////////////////////////////////*/       

	#detail div.linkbar{ 
		border-bottom: 1px dotted #000000;
	   	width: 930px; 
		height: 41px;
		margin-left: 0px;
		margin-bottom: 0px;
		z-index: 3;  
	}   
	
	#detail div.linkbar:hover{ 
		background-color: #f4f9e8;
	}  
	
	#detail div.linkbar div.arrow { 
		background: url(../images/link_arrow.png);    
		width: 7px;
		height: 11px;  
		margin-left: 12px; 
		margin-top: 15px;  
		position:absolute;                          
	} 
	
	#detail div.linkbar:hover div.arrow { 
		margin-left: 14px;                        
	}    

	#detail div.linkbar h4 { 
		color: #4b553a;
		width: 906px;  
		height: 23px;   
		padding-left: 24px;
		padding-top: 10px;
		padding-bottom: 8px;  
		float:left;
	}
	
	#detail div.linkbar:hover h4 { 
		color: #4b553a;     
		width: 905px;   
		padding-left: 25px;
	}
/*//////////////////////////////////////////////////////////////////////////////////*/
	
	#detail div.dividerdots{ 
		background-color: #FFF;
		border-top: 1px dotted #000000;
		width: 930px; 
		height: 1px;
		margin-top: 14px;
		margin-left: 0px;
		z-index: 3;
	}
	
	#detail a { 
		text-decoration:none;
	}
	
	#detail h3 { 
		width: 453px;
		margin-top: 0px;
		padding-left: 5px;
	}
	
	#detail p { 
		width: 440px;
		font-family: Georgia; 
		font-size: 14px;
		color: #4b4b4b;
		padding-left: 5px;
	}
	
	#detail img { 
		border: 1px solid #000000;
		margin-left: 1px;
		margin-top: 16px;
		margin-bottom: 0px;
		margin-right: 10px;
		z-index: 2;
	}
	
	#detail img.firstorder { 
		margin-top: 30px;   
	}
	
	#detail .article_columns { 
		text-align: justify;
		margin-top: 26px;
		margin-bottom: 10px;
		background-color: #fff;
		
		-moz-column-count: 2;
		-moz-column-gap: 15px;
		
		-webkit-column-count: 2;
		-webkit-column-gap: 15px;
	}
	
	#detail .single_column { 
		text-align: justify;
		margin-top: 26px;
		margin-bottom: 10px;
		background-color: #fff;
	}   
	
	#detail .explanation_column p{ 
		width:930px;
		font-size: 30px;
	}  
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////*/     

	#portfolio{ 
		background-color: #fff;  
		padding-left:21px;          
	}

	#portfolio div.thumbnail { 
		display: block;
		position: relative;
		float: left;
		width: 220px; 
		height: 367px;
		margin-left: 0px;
		margin-right: 16px;
		margin-bottom: 17px;
		background-color: #FFF;
		clear:right;
	}
	
	#portfolio div.thumbnail a { 
		text-decoration:none;
	}
	
	#portfolio div.thumbnail h3 { 
		width: 190px;
		margin-top: 15px;
		margin-left: 15px;
	}
	
	#portfolio div.thumbnail p { 
		width: 190px;
		font-size: 10px;
		margin-left: 15px;
	}

	#portfolio div.thumbnail div.bottom { 
		/*Black Rectangle Background*/
		position: absolute;
		width: 220px; 
		height: 369px;
		background-color: #000;
		margin-top: 1px;
		z-index: 1;
	}
	
	#portfolio div.thumbnail a:visited div.bottom {	
		/*background-color: #00ffff;*/	
	}

	#portfolio div.thumbnail a img { 
		position: absolute;
		border: 1px solid #000000;
		margin-top: 1px;
		z-index: 2;
	}

	#portfolio div.thumbnail:hover img { 
		margin-top: 0px;
		margin-left: 1px;
	}

	#portfolio div.thumbnail a:visited img { 
		/*border: 1px solid #00ffff;*/
	}

	#portfolio div.thumbnail div.short { 
		position: absolute;
		background-color: #FFF;
		border-top: 1px solid #000000;
		width: 218px; 
		height: 62px;
		margin-top: 306px;
		margin-left: 1px;
		z-index: 3;
	}
	
	#portfolio div.thumbnail:hover div.short { 
		display:none;
	}
	
	#portfolio div.thumbnail div.med { 
		display:none;
		position: absolute;
		background-color: #FFF;
		border-top: 1px solid #000000;
		width: 218px; 
		height: 62px;
		margin-top: 305px;
		margin-left: 2px;
		padding-top: 0px;
		z-index: 4;
	}
	
	#portfolio div.thumbnail:hover div.med { 
		display:block;
	}
	
	#portfolio div.thumbnail div.long { 
		display:none;
		position: absolute;
		background-color: #FFF;
		border-top: 1px solid #000000;
		width: 218px; 
		height: 127px;
		margin-top: 240px;
		margin-left: 2px;
		padding-top: 0px;
		z-index: 4;
	}
	
	#portfolio div.thumbnail div.long p { 
		height: 78px;
		overflow: hidden;
	}
	
	#portfolio div.thumbnail:hover div.long { 
		display:block;
	}    
/*//////////////////////////////////////////////////////////////////////////////////*/