/*******************************************************************************

	CSS: File
	Self Grafuc Standards
	
*******************************************************************************/
	body{
		/**/background: url(../img/two.jpg);
		background-color:#CCCCAA;
		font-family:"Verdana", "Arial", sans;
		font-size:10;
		color:444444;
		margin:0px;
	}
	
	a{
		text-decoration:none;
		font-family:"Verdana", "Arial", sans;
		font-size:10;
		color:FFFFFF;
	}
	a:visited{
		font-family:"Verdana", "Arial", sans;
		font-size:10;
		color:FFFFFF;
	}
	
/*******************************************************************************

	
*******************************************************************************/

	.contain_all{
		
		background-color:#CCCCAA;
		border-right: thin solid #AAAA99;
		border-left: thin solid #AAAA99;
		width:800px;
		margin:auto;
	}
	
	.blank{
		
		background-color:#CCCCAA;
		width:800px;
		height:70%;
		margin:auto;
	}



/*******************************************************************************

	
*******************************************************************************/
	.head{
		background-color:#99AAAA;
		/**/border-bottom: thin solid #889999;
		width:785px;
		height:auto;

		margin:0px;
		padding:10px 0px 0px 15px;
	}
	
	#new_nav{
		/*background-color:#889999;*/
		width:780px;
		height:16px;

		margin:12px 0px 0px 0px;
	}
	
	.headText{
		/*background-color:#889999;*/
		font-family:"Helvetica", "Verdana", sans;
		font-size:16;
		color:FFFFFF;
		
		width:500px;
		height:auto;
	
		margin:0px;
		padding:10px 0px 0px 5px;
	}
	
	.title{
		font-family:"Helvetica", "Verdana", sans;
		font-size:16;
	}
	
/*******************************************************************************

	
*******************************************************************************/
	.container{
		/*background-color:#BBBB99;*/
		width:800px;
		height:auto;
	
		margin:5px 0px 0px 0px;
		padding:10px 0px 0px 5px;
	}
	
		.contentBody{
			/*background-color:#999977;*/
			width:350px;
			height:auto;
			float:left;
	
			margin:0px 10px 0px 15px;
			padding:0px;
	
		}
		
		.contentTitle1{
			font-family:"Helvetica", "Verdana", sans;
			font-size:16;
			color:444444;
		}
	
/***************************************
***************************************/
	.flash{
		/*background-color:#BBBB99;*/
		width:800;
		height:auto;
	
		margin:0px 0px 0px 0px;
		padding:0px;
	}
	
	#live{
		/*background-color:#999977;*/
		width:800;
		height:500;
		float:left;
		margin:0px 0px 0px 0px;
		padding:0px;
	}

/***************************************
***************************************/
	.foot{
		background-color:#99AAAA;
		border-top: thin solid #889999;
		border-bottom: thin solid #889999;
		width:785;
		height:20;
	
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 15px;
	}
	
	.footText{
		font-family:"Verdana", "Arial", sans;
		font-size:10;
		color:FFFFFF;
	}

/*******************************************************************************

	END:
	
*******************************************************************************/